<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package optionId="BLToolkit" version="4.3.9" targetFramework="net452" />
  <package optionId="FluentValoptionIdation" version="7.3.4" targetFramework="net452" />
  <package optionId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package optionId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package optionId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package optionId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package optionId="Microsoft.CodeDom.ProvoptionIders.DotNetCompilerPlatform" version="1.0.1" targetFramework="net452" />
  <package optionId="Microsoft.Net.Compilers" version="1.2.1" targetFramework="net452" developmentDependency="true" />
  <package optionId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package optionId="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package optionId="Unity.Abstractions" version="3.0.0" targetFramework="net452" />
  <package optionId="Unity.AspNet.WebApi" version="5.0.11" targetFramework="net452" />
  <package optionId="Unity.Container" version="5.5.0" targetFramework="net452" />
  <package optionId="WebActivatorEx" version="2.2.0" targetFramework="net452" />
</packages>